@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Lato&family=Poppins&display=swap');

* {
  margin: 10px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

p {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.added-book {
  display: flex;
  justify-content: space-between;
}

.added-booklist {
  border: 2px solid black;
}

#breaker {
  width: 20%;
  margin: 30px 40%;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin-left: 200%;
  box-shadow: 3px 3px #000;
  padding: 5px;
  font-size: 10px;
  border: 2px solid #000;
  font-weight: 700;
}
